
<h3>Email Me About the Position!</h3>
<div class="card-content">
  <%= simple_form_for @contact, url: static_pages_path, :html => {:class => 'form-horizontal' }, remote: true do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="" id="flash-message">
    <%= render 'flash' %>
</div>