    <div class="container">
        
        <div class="page-header"> <!-- page header | heading class adds font styles -->
            <h1 class="heading">Design Work</h1>
        </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="/static_pages/sharkoWires">
                            <%= image_tag "sharkoWire1.JPG" %>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="/static_pages/sharkoWires"> Sharko's Wireframe</a>
                                </h4>
                                <p class="sharkoWireText">Before developing the site for Shako's BBQ, I created these wireframes. This was not my first time creating wireframes, and I was a bit ambitious in my designs considering the coding knowledge I had for web development at this time. It was a fun challenge to try and develop the site as closely as I could based off these wireframes.</p>
                            </div>
                            
                            <div class="card-read-more">
                                <a class="btn btn-link btn-block" href="/static_pages/sharkoWires">See all wireframes</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            
                            <a class="img-card" href="https://xd.adobe.com/view/a56c83f0-a8fa-419b-48c0-8a108529b25f/" target="blank_" >
                            <%= image_tag "fireflyLogo.png", :style => "object-fit:contain"%>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://xd.adobe.com/view/a56c83f0-a8fa-419b-48c0-8a108529b25f/" target="blank_">Firefly Prototype</a>
                                </h4>
                                <p class="fireflyAbout">
                                    This was a group project. Our goal was to research and create an application that allows users to join into pick up sports games. Before creating the prototype, we made a <a href="https://docs.google.com/presentation/d/1fd33APLmPYgnBo0cI0U0GJc4l0tJ-PRS2lof48TPnXk/edit?usp=sharing" target="blank_">component library</a> with all of the elements that would be used, and we also created style tiles to allow for a better understanding of the overall design before we started.
                                </p>
                            </div>
                            
                            <div class="card-read-more">
                                <a href="https://xd.adobe.com/view/a56c83f0-a8fa-419b-48c0-8a108529b25f/" target="blank_" class="btn btn-link btn-block">
                                    View Design
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card"><%= image_tag "bulldoghead.png" %></a>
                           
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    Athens Bulldogs Redesign
                                </h4>
                                <p class="bulldogsText">
                                   This was a group project in which we were assigned to research and redesign the Athens Bulldogs website. There was a lot of research that went into this that I no longer have (as this was multiple years ago, and I did not consider to keep all my work back then), we created user profiles, style tiles, and wireframes.
                                </p> 
                                <p>
                                    Luckily I was able to find my protoype iterations I created in Photoshop for this project. I was in task of the homepage design. I had multiple iterations with different designs and colors for each page. I decided a clean homepage with useful links was the best approach, as opposed to having a homepage with an overwhelming amount of information like I had in my first designs. This project was from my first web design class, and that class is what made me realize I wanted to web design and develop websites for a living one day.
                                </p>
                            </div>
                            
                            <div class="card-read-more">
                                <!--<a class="btn btn-link btn-block" href="<%# asset_path 'athensTabletProtos.png' %>" data-lightbox="athensProtos" data-title="My caption" rel="lightbox[bulldogs]">Athens Bulldogs Redesign</a>-->
                                <!--<a href="<%# asset_path 'athensDesktopProtos.png' %>" data-lightbox="athensProtos" data-title="My caption" rel="lightbox[bulldogs]"></a>-->
                                <!--<a href="<%# asset_path 'athensTablet1.png' %>" data-lightbox="athensProtos" data-title="My caption" rel="lightbox[bulldogs]"></a>-->
                                <%# link_to "View Prototypes", image_path("bulldogProtos.jpg"), :class => "btn btn-link btn-block" %>
                                <!-- popup modal images preview -->
                                <a href="#lightbox" data-toggle="modal">View Prototype Designs</a>
                                    <div class="modal fade and carousel slide" id="lightbox">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                            <div class="modal-header">
                                                <a href="#close" title="Close" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                                <h4 class="modal-title" id="modal-label">Athens Bulldogs Redesigns</h4>
                                            </div> <!--end modal header -->
                                            
                                            <div class="modal-body">
                                                <ol class="carousel-indicators">
                                                <li id="img1" data-target="#lightbox" data-slide-to="0" class="active"></li>
                                                <li data-target="#lightbox" data-slide-to="1"></li>
                                                <li data-target="#lightbox" data-slide-to="2"></li>
                                                </ol>
                                                <!-- images -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <%= image_tag 'athensTabletProtos.png' %>
                                                        <div class="carousel-caption" style="color:black"><p>Multiple Tablet Iterations.</p></div>
                                                    </div>
                                                    <div class="item">
                                                        <%= image_tag 'athensTablet1.png' %>
                                                        <div class="carousel-caption" style="color:black"><p>Final Tablet Design</p></div>
                                                    </div>
                                                    
                                                    <div class="item">
                                                        <%= image_tag 'athensDesktopProtos.png' %>
                                                         <div class="carousel-caption" style="color:black"><p>Desktop Prototypes</p></div>
                                                    </div>
                                                </div><!-- end carousel-inner -->
                                                <div class="row">
                                                <!-- /.carousel-contorols -->
                                                <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
                                                    <span class="fa fa-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
                                                    <span class="fa fa-chevron-right"></span>
                                                </div>
                                                </a>
                                            </div><!-- /.modal-body -->
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </div> <!-- end read more -->
                        </div><!-- end card -->
                    </div><!-- end column div -->
                </div><!-- end row -->
            </div><!-- end container -->
 
 
   <div class="container"  id="designWork">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> Example
                                  </a>
                                </h4>
                                <p class="">
                                    asdfasdfasdfasdfasdfsad
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">Example
                                  </a>
                                </h4>
                                <p class="">
                                    asdfasdfsafasdfasdfasdfasfsadf
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">Example
                                  </a>
                                </h4>
                                <p class="">
                                   asdfasdfasdfasfasfdasdfasdfsafasf
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                </div>
            </div><!-- end row -->
     </div><!-- end container -->

 