<div class="container" id="pageheader">
    <h1 class="heading">Development Work</h1>
</div>

    <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://ec2-54-212-244-135.us-west-2.compute.amazonaws.com:3000/" target="blank_">
                            <%= image_tag "depaul-logo.png", :class => "img-responsive", :style => "object-fit:contain;border:none" %>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://ec2-54-212-244-135.us-west-2.compute.amazonaws.com:3000/" target="blank_"> Computer Science Capstone | When If Project</a>
                                </h4>
                                <p class="">fsdfsdf</p> 
                                <p class ="fakNewsAbout">sdfsdf </p>
                            </div>
                            
                            <div class="card-read-more">
                                <a href="http://ec2-54-212-244-135.us-west-2.compute.amazonaws.com:3000/" target="_blank" class="btn btn-link btn-block">View Site Here</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            
                            <a class="img-card" href="http://evanb1.sgedu.site/bogartefinalwebsite%208-3/index.html" target="_blank">
                            <%= image_tag "sharkologo3.png", :class => "img-responsive", :style => "object-fit:contain;border:none" %>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://evanb1.sgedu.site/bogartefinalwebsite%208-3/index.html" target="_blank">Sharko's BBQ</a>
                                </h4>
                                <p class="sharkosAbout">This was the first website I developed and designed.</p>
                                <p class="sharkosAbout">This site is not responsive. My main goal for development was to create a straight forward site, where users could easily find a menu, location, and contact information.</p>
                            </div>
                            
                            <div class="card-read-more">
                                <a href="http://evanb1.sgedu.site/bogartefinalwebsite%208-3/index.html" target="_blank" class="btn btn-link btn-block">
                                    View Site Here
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://sharkos-rails.herokuapp.com/" target="_blank">
                            <%= image_tag "sharkologo3.png", :class => "img-responsive", :style => "object-fit:contain;border:none"%>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://sharkos-rails.herokuapp.com/" target="_blank">Sharko's Updated</a>
                                </h4>
                                <p class="sharkos-two-about">
                                    I later revisited my attempt at creating a Sharko website. This time around I was far more equipped to create a responsive and clean site. The site is using Ruby-on-Rails, with Bootstrap to pull the front-end together. User are able to "order" and add items to their cart. Admin's can edit the menu and see orders placed. 
                                </p>
                            </div>
                            
                            <div class="card-read-more">
                                <a href="https://sharkos-rails.herokuapp.com/" target="_blank" class="btn btn-link btn-block">
                                    View site here
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
 
   <div class="container" id="developmentWork">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="training.greatmoods.com" target="blank_">
                            <%= image_tag "formPic.png"%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="training.greatmoods.com" target="_blank">GreatMoods Internship Work</a>
                                  </a>
                                </h4>
                                <p class="">
                                    I cannot show the hosted code, bt I am able to show and explain what I have developed for GreatMoods thus far.   
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" target="blank_" class="btn btn-link btn-block">
                                    Read More About My Experiences
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="http://evanb1.sgedu.site/calc/movieCalc.html" target="blank_">
                            <%= image_tag "calcPic.png", :style => "object-fit:contain"%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://evanb1.sgedu.site/calc/movieCalc.html" target="blank_">Baic JS User Input Calculations
                                  </a>
                                </h4>
                                <p class="">
                                    Claulates the cost of a movie trip depending on user inputted values. 
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://evanb1.sgedu.site/calc/movieCalc.html" target="blank_" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://evanbogart.com/examples/bootstrapFinal/" target="blank_">
                            <%= image_tag "fakeNewsPic.png" %>
                            </a>
                            
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://evanbogart.com/examples/bootstrapFinal/" target="blank_"> Fake News Bootstrap</a>
                                </h4>
                                <p class="">Utilized Bootstrap for a responsive design.</p> 
                                <p class ="fakNewsAbout">For this project I focused on utilizing the cards and Bootstrap's responsive grid. This was my final project in the class where I first learned about bootstrap. </p>
                            </div>
                            
                            <div class="card-read-more">
                                <a href="https://evanbogart.com/examples/bootstrapFinal/" target="_blank" class="btn btn-link btn-block">View Site Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>