<section class="landing"><!-- Landing Page -->
    <div class="container" id="animatedtext"><!-- main header on landing page -->
        <div class= "row" id="animatedtext-cols"><!-- main header row -->
            <p id="landing-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&mdash; Web developer &mdash;<span>Hi, I'm Evan! </span> &mdash; UI/UX Designer &mdash;</p>
        </div><!-- END main header row -->
    </div><!-- END main header text container -->
    
    <article class="container-fluid fade-in" id="landingPageRows"><!-- article wrap for Row sections -->
        <section class="row landingRowSection" id="aboutRowLanding">
            <%= link_to "About Me", '#aboutme-content', :class => 'landingRowButton' %>
            <!-- shooting stars / CSS animations used for star movements -->
            <span class="star1"></span>
            <span class="star2"></span>
            <span class="star3"></span>
        </section>
        
        <section class="row landingRowSection fade-in" id="devRowLanding">
            <%= link_to "Dev Work", '#dev-content', :class => 'landingRowButton' %>
        </section>
        
        <section class="row row-flex landingRowSection fade-in" id="designRowLanding"> 
            <%= link_to "UI/UX Work", '#design-content', :class => 'landingRowButton' %>
        </section>
    </article>
    
    <div id="scrolldown-button-row"  class="container" ><!-- Arrow down scroll down button - Scrolls to ABOUT ME section of page -->
        <a class="scroll-down" href="#aboutme-content" address="true">
            <span class="arrow-scroll-btn"></span>
        </a>
    </div><!-- end scroll down container -->
</section><!-- END LANDING page section -->

<section class="container-fluid" id="aboutme-content"><!-- START aboutme section homepage -->
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">About Me</h1>
    </div>
    
    <article class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-lg-push-1 col-md-4 col-md-offset-1 col-sm-5"> 
                <%= image_tag("headshot1.jpg", class: "img-responsive center-block", :id => "headshot" )%>
            </div>
            <div class="col-lg-5 col-lg-pull-1 col-md-6 col-sm-6" id="aboutMeText">
                <p>Hello World! My name is Evan R Bogart. I'm a recent DePaul University graduate, where I majored in Interactive and Social Media w/ a Development Concentration. Most of my work on this site will be comprised of projects I worked on throughout my 2 &frac12; years at DePaul University. I consider myself a fun-loving coder, and an admirer of design - specifically web/application/software design! Besides coding I enjoy playing video games, watching esports/sports in general, hiking, fishing, and hanging out with friends and family.</p>
                <p>As an ISM major with a Development Concentration, I focused a lot on the front-end. ISM taught me a lot about modern UI/UX design principles and heuristics. I've found this to be beyond useful when evaulating, designing, or developing a site or web application. I am very comfortable developing front-end solutions and fully responsive websites using HTML5, CSS3, JavaScript, and jQuery. My current MVC framework of choice is Ruby-on-Rails.</p> 
            </div>
        </div>
    </article><!-- end aboutme article -- content pertaining to me -->
    
    <article id="homepageCards">
        <div class="row">
            <div class="col-md-4 col-sm-8 col-sm-push-2">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"> Contact Me </div>
                        <p>If you'd like to get in contact, please feel free to email me!</p>
                        <p><b>Email:</b> erbogart28@gmail.com</p>
                        <!--<p><i>Check out my linkedin</i><a type="button" class="btn btn-block btn-lg btn-linkedin" target="blank_"><i class="fa fa-linkedin"></i></a></p>-->
                        <p><i>Check out my github</i><a href="https://github.com/erbogart28" type="button" class="btn btn-block btn-lg btn-github" target="blank_"><i class="fa fa-github"></i></a></p>
                    </div><!-- END card content -->
                </div><!--end card -->
            </div><!-- end column div -->
            <div class="col-md-4 col-sm-8 col-sm-push-2">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"> View My Resume</div>
                        <p>My resume can be viewed here. Please feel free to right click the link and save a copy for yourself if you're interested.</p>
                     </div><!-- END card content -->
                    <div class="card-read-more">
                        <%= link_to " View Resume", image_path("resumePortfolioSite.pdf"), :target => "_blank", :class => "btn btn-link btn-block" %>
                    </div><!-- end read more -->
                </div><!--end card -->
            </div><!-- end column div -->
        </div><!--end row -->
    </article> <!-- end homepage cards article within aboutme-content section -->
</section><!-- end aboutme-content section -->
 
<section class="container-fluid"  id="dev-content"><!-- START developer section of homepage -->
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">Dev Work</h1>
    </div>
    
    <article class="container" id="devcards"><!-- Development Cards Container/Article of section dev content -->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 1 | COMP SCI CAPSTONE -->
                    <%= image_tag "depaul-logo.png", :class => 'img-card', :style => 'object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Computer Science Capstone | When If Project</h4>
                        <p>This was probably my favorite project at DePaul. This was a group project where we were tasked to create a website for student's, faculty, and admin's. The site's purpose was to allow for student's to run a "when-if" report where they could generate a schedule of classes for completing IT or IS grad school classes. Faculty could waive classes and view student's reports. Admin's can view all accounts and have the power to do whatever faculty or student's can do. </p>
                        <p>I was the front-end lead for this project, and was the only one with real experience in web development - all the other's in the group were only familar with Obeject Oriented Programming. Along with creating the front-end layout, I also setup the rails site and created user signup and role permissions using the application model, and user sessions using the application helper. I also had to walk group members through how to render a user's data onto certain pages using Ruby.</p>
                        <p>Overall it was a great experience. I learned a lot from the computer science guys - new approaches to sessions and other things I have not considered - and I feel like they learned a lot of from me as well. </p>
                    </div>
                    <div class="card-read-more"><!-- view site -->
                         <%= link_to "View site", 'http://ec2-54-212-244-135.us-west-2.compute.amazonaws.com:3000/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div> 
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/CS-Capstone-Final" target="_blank" class="btn btn-link btn-block"> 
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 1 -->
            </div><!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 2 | Portfolio -->
                    <%= image_tag "headshot1.jpg", :class => 'img-card', :style => 'object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Portfolio Site</h4>
                        <p class="">I have treated this portfolio site as a project as well. I plan to update this frequently, and hope to eventually utilize the database and models in some sort of way. I've gone through many diferent itterations for this portfolio site - most of this code and process can be seen through my seperation of branches.</p>
                    </div>
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/portfolioBogart" target="blank_" class="btn btn-link btn-block">
                             <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 2 -->
            </div><!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"> <!-- CARD 3 | Sharkos rails -->
                    <%= image_tag "sharkologo3.png", :class => 'img-card', :style => 'padding: 15px;object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Sharko's Updated</a></h4>
                        <p>This was my second attempt at developing Sharko's website. This time around I was far more equipped to create a responsive and clean site. I developed this site using Ruby-on-Rails, and with CSS/Bootstrap to pull the front-end together. I created role based permissions and page views, an ordering system, user sign-ups, and user sessions. Users are able to "order" and add items to their cart. Admin's can edit the menu and see orders placed. </p>
                    </div>
                    <div class="card-read-more"> <!-- view site -->
                        <%= link_to "View Site", 'https://sharkos-rails.herokuapp.com/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                    <div class="card-read-more"><!-- github code view -->
                        <a href="https://github.com/erbogart28/sharko-web-dev-2" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 3 -->
            </div><!-- END col placement -->
        </div><!-- END row  1 -->
    
        <div class="row"><!-- START ROW 2 | DEVELOPMENT -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 4 | Greatmoods Work -->
                    <%= image_tag "GMlogo.png", :class => 'img-card', :style => 'object-fit:contain;padding-left:20px' %>
                    <div class="card-content">
                        <h4 class="card-title">GreatMoods Internship Work </h4>
                        <p> This was an interesting internship to say the least! I learned a lot: how to communicate effecticely and express my opionins on design choices, how to compromise on ideas depedning on what the boss hoped to see, how to best collaborate remotely. I did a LOT of work, and ended up being the only front-end dev even though I was expecting to be mentored or led by at least one other front-end developer. At the end of the day I was tasked with redeveloping the whole entire site based off the current site GreatMoods.com, which is completely unresponsive and outdated. I would've been able to complete full site responsiveness, but leadership issues and redeveloping 100+ pages by myself as an unpaid intern led to complications for reaching the finish line. </p>
                        <p>I was able to learn a lot mainly because I was tasked to do so much, while having very little support or direction. I took the good with the bad, and in the end I feel I've come out a strong coder. </p>
                    </div>
                    <div class="card-read-more">
                        <%= link_to "Before & After", '#', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                    <div class="card-read-more"> <!-- view site -->
                        <%= link_to "Redeveloped Site", 'http://www.training.greatmoods.com/index.php', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                </div><!-- END CARD 4 -->
            </div><!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 5 PORTFOLIO SITE -->
                    <%= image_tag "sharkologo3.png", :class => 'img-card', :style => 'padding: 15px;object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Sharko's BBQ - First Site</h4>
                        <p>This was the first website I developed and designed.</p>
                        <p>This site is not responsive. My main goal for development was to create a straight forward site, where users could easily find a menu, location, and contact information.</p>
                    </div>
                    <div class="card-read-more"><!-- github code view / removed site option as the site is not really worth seeing in it's current state, still might put it in here though-->
                        <!--<a href="" target="_blank" class="btn btn-link btn-block">-->
                        <!--    View site-->
                        <!--</a>-->
                        <a href="https://github.com/erbogart28/sharkosPureCSShtml" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 5 -->
            </div><!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 6 | Fake news bootstrap -->
                    <a class="img-card" href="https://evanbogart.com/examples/bootstrapFinal/" target="blank_">
                    <%= image_tag "fakeNewsPic.png" %>
                    </a>
                    <div class="card-content">
                        <h4 class="card-title">Fake News Bootstrap</h4>
                        <p>Utilized Bootstrap for a responsive design.</p> 
                        <p>For this project I focused on utilizing the cards and Bootstrap's responsive grid. This was my final project in the class where I first started learning about Bootstrap. </p>
                    </div>
                    <div class="card-read-more">
                        <%= link_to "View Site", 'https://evanbogart.com/examples/bootstrapFinal/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                    <div class="card-read-more">
                        <a href="https://github.com/erbogart28/fakenewsBootstrap" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div><!-- end read more -->
                </div><!--  END CARD 6 -->
            </div><!-- END column placement -->
        </div><!-- END DEVELOPMENT ROW 2-->
    <!-- SCROLL DOWN BUTTON REMOVED -- Scrolling should suffice as opposed to having a scroll down button like on the landing page -- leaving just in case!!
    <div class="row">-->
    <!--    <a class="scroll-down2" href="#" address="true">-->
    <!--        <div class="arrow-scroll-btn"  data-toggle="tooltip" data-placement="top" title="Design Section" ></div>-->
    <!--    </a>-->
    <!--</div>-->
    </article><!-- end DEV cards container / article -->
</section><!--end dev section -->


<section id="design-content" class="container-fluid">
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">UI/UX Work</h1>
    </div>
    
    <article class="container" id="designCards"><!-- design cards section article / container -->
        <div class="row"><!-- START row 1 | Design Cards -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 1 | sharko Wireframes -->
                        <%= image_tag "sharkologo3.png", :class => 'img-card', :style => 'padding: 15px;object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Sharko's Wireframe</h4>
                        <p class="sharkoWireText">Before developing the site for Shako's BBQ, I created these wireframes. This was not my first time creating wireframes, and I was a bit ambitious in my designs considering the coding knowledge I had for web development at this time. It was a fun challenge to try and develop the site as closely as I could based off these wireframes.</p>
                    </div>
                    <div class="card-read-more">
                        <!--<a  href="/static_pages/sharkoWires"></a>-->
                        <!-- turbolinks:false added to prevent JS / jQuery conflicts when new page is loaded -->
                        <%= link_to "View Wireframes", static_pages_sharkoWires_path, data: { turbolinks: false }, :class => 'btn btn-link btn-block' %>
                    </div>
                </div><!-- END CARD 1 -->
            </div><!-- END col placement -->
            
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 2 | Firefly -->
                    <%= image_tag "fireflyLogo.png", :class => 'img-card', :style => 'object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Firefly Prototype</h4>
                        <p class="fireflyAbout"> This was a group project. Our goal was to research and create an application that allows users to join into pick up sports games. Before creating the prototype, we made a <a href="https://docs.google.com/presentation/d/1fd33APLmPYgnBo0cI0U0GJc4l0tJ-PRS2lof48TPnXk/edit?usp=sharing" target="blank_">component library</a> with all of the elements that would be used, and we also created style tiles to allow for a better understanding of the overall design before we started.</p>
                    </div>
                    <div class="card-read-more">
                      <%= link_to "View Prototype", 'https://xd.adobe.com/view/a56c83f0-a8fa-419b-48c0-8a108529b25f/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                </div><!-- END CARD 2 -->
            </div>  <!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 3 | Athens Redesign -->
                    <%= image_tag "bulldoghead.png", :class => 'img-card', :style => 'object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">Athens Bulldogs Redesign</h4>
                        <p>This was a group project in which we were assigned to research and redesign the Athens Bulldogs website. There was a lot of research that went into this that I no longer have (as this was multiple years ago, and I did not consider to keep all my work back then), we created user profiles, style tiles, and wireframes.</p> 
                        <p>Luckily I was able to find my protoype iterations I created in Photoshop for this project. I was in task of the homepage design. I had multiple iterations with different designs and colors for each page. I decided a clean homepage with useful links was the best approach, as opposed to having a homepage with an overwhelming amount of information like I had in my first designs. This project was from my first web design class, and that class is what made me realize I wanted to web design and develop websites for a living one day.</p>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <a href="#lightbox" data-toggle="modal"  class="btn btn-link btn-block">View Prototype Designs</a>
                    </div>
                    <!-- MODAL / SLIDESHOW LIGHTBOX EFFECT USING BOOTSTRAP ELEMENTS -->
                    <div class="modal fade and carousel slide" id="lightbox">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#close" title="Close" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                    <h4 class="modal-title" id="modal-label">Athens Bulldogs Redesigns</h4>
                                </div> <!--end modal header -->
                                <div class="modal-body">
                                    <ol class="carousel-indicators">
                                    <li id="img1" data-target="#lightbox" data-slide-to="0" class="active"></li>
                                    <li data-target="#lightbox" data-slide-to="1"></li>
                                    <li data-target="#lightbox" data-slide-to="2"></li>
                                    </ol>
                                    <!-- images -->
                                    <div class="carousel-inner"><!-- slideshow modal images as ITEMS --> 
                                        <div class="item active">
                                            <%= image_tag 'athensTabletProtos.png', class: "img-responsive center-block"%>
                                            <!--<div class="carousel-caption" style="color:black"><p>Multiple Tablet Iterations.</p></div>-->
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'athensTablet1.png', class: "img-responsive center-block" %>
                                            <!--<div class="carousel-caption" style="color:black"><p>Final Tablet Design</p></div>-->
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'athensDesktopProtos.png', class: "img-responsive center-block" %>
                                             <!--<div class="carousel-caption" style="color:black"><p>Desktop Prototypes</p></div>-->
                                        </div>
                                    </div><!-- end carousel-inner -->
                                    <div class="row">
                                        <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                        <a class="right carousel-control" href="#lightbox" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                                    </div><!-- end CAROUSEL CONTROLS ROW -->
                                </div><!-- END modal-BODY -->
                            </div><!-- END modal CONTENT -->
                        </div><!-- END modal DIALOG -->
                    </div><!-- END modal -->
                </div><!-- END CARD 3 -->
            </div><!-- end column placement -->
        </div><!-- END row 1 -->
        
        <div class="row"><!-- START row 2 | Design cards -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 4 | Wingstop App Redeisgn -->
                    <%= image_tag "WingstopLogo.png", :class => 'img-card', :style => 'object-fit:contain' %>
                    <div class="card-content">
                        <h4 class="card-title">WingStop App</h4>
                        <h4 style="padding-left:1rem !important">| Ordering Process Redesign</h4>
                        <p>This was a project for redesigning an application's order proccesing screens. I decided to redesign the Wingstop Application. It wasn't a huge design overhaul, but rather simple fixes to improve the checkout process; the application's ordering process was confusing at times.</p>
                        <p>I designed screens that would provide visible feedback as to what a user needs to complete, and how many pages it would take to complete a food order. I also made the ability to edit orders easier to do while at the checkout screen.</p>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <a href="/#" class="btn btn-link btn-block">Research and Evaluations</a>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <a href="/#lightbox1" data-toggle="modal"  class="btn btn-link btn-block">View Redesigns</a>
                    </div>
                    <!-- MODAL / SLIDESHOW LIGHTBOX EFFECT USING BOOTSTRAP ELEMENTS -->
                    <div class="modal fade and carousel slide" id="lightbox1">
                        <div class="modal-dialog"  style="width:100% !important; height:auto !important">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#close" title="Close" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                    <h4 class="modal-title" id="modal-label">Wingstop App | Order Process Redesigns</h4>
                                </div> <!--end modal header -->
                                <div class="modal-body">
                                    <!--<ol class="carousel-indicators">-->
                                    <!--<li id="img1" data-target="#lightbox1" data-slide-to="0" class="active"></li>-->
                                    <!--<li data-target="#lightbox1" data-slide-to="1"></li>-->
                                    <!--</ol>-->
                                    <!-- images -->
                                    <div class="carousel-inner"><!-- slideshow modal images as ITEMS --> 
                                        <div class="item active">
                                            <%= image_tag 'wingstopFinals.png', class: "img-responsive center-block" %>
                                            <!--<div class="carousel-caption" style="color:black"><p>Designs were made blurry from the software I used - unfortunately have no backups</p></div>-->
                                        </div>
                                        <!--<div class="item">-->
                                            <!--</%= image_tag 'wingstopfinals2.png', class: "img-responsive center-block" %>-->
                                             <!--<div class="carousel-caption" style="color:black"><p>Desktop Prototypes</p></div>-->
                                        <!--</div>-->
                                    </div><!-- end carousel-inner -->
                                    <!--<div class="row">-->
                                    <!--    <a class="left carousel-control" href="#lightbox1" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>-->
                                    <!--    <a class="right carousel-control" href="#lightbox1" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>-->
                                    <!--</div><!-- end CAROUSEL CONTROLS ROW -->
                                </div><!-- END modal-BODY -->
                            </div><!-- END modal CONTENT -->
                        </div><!-- END modal DIALOG -->
                    </div><!-- END modal -->
                </div><!-- END CARD 4 -->
            </div><!-- END col placement -->
        </div><!-- END ROW 2 -->
    </article><!-- END design cards article / container wrap -->
</section><!--END design section -->

