<section class="landing">
    <article class="container" id="animatedtext">
        <div class= "row" id="animatedtext-cols">
            <p id="landing-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&mdash; Web developer &mdash;<span>Hi, I'm Evan! </span> &mdash; UI/UX Designer &mdash;</p>
        </div>
    </article>
    
    <article class="container" id="navcircles">
        <div class="row" id="circles-row">      
            <a id="circle-dev" href="/static_pages/development" role="button" class=" btn btn-primary btn-circle btn-xl col-md-3 col-md-offset-0 vcenter"><span class="navcircle-text">Development</span></a>
            <a id="circle-design" href="/static_pages/design" role="button" class="btn btn-primary btn-circle btn-xl col-md-offset-1 col-md-3 vcenter"><span class="navcircle-text">Design</span></a>
            <div id="circle-active" role="button" data-toggle="tooltip" title="Click to Scroll Down" class="scroll-button btn btn-primary btn-circle btn-xl col-md-3 col-md-offset-1 vcenter"><span id="original-text" class="navcircle-text hidden-xs <%=is_active('#')%>"><a href="#" address="true">About Me</span></a>       
            
            <!-- mobile layout -->
            <a class="scroll-down container-fluid hidden-lg hidden-md hidden-sm <%=is_active('#')%>" href="#" address="true"><span id="mobile-indicator" class="navcircle-text hidden-lg hidden-md hidden-sm <%=is_active('#')%>">About Me<span class="click-to-scroll">Click to<br>Scroll</span></span>
            <div id="mobile-scroll-btn" class="arrow-scroll-btn"></div>
        </a></div>
        </div>
    
        <!--<div id="ufo" class="scroll-down orbits container-fluid"> <span id="ray" style=""></span></div> <!-- UFO -->
    </article>
    
    <article id="scrolldown-button-row" class="row">
        <div class="container">
        <a class="scroll-down hidden-xs" href="#" address="true" data-toggle="tooltip" title="About Me">
            <div class="arrow-scroll-btn hidden-xs"></div>
        </a>
        </div>
    </article>
</section>

<section class="aboutme-content">
    
    <div class="container" id="page-title">
        <h1 class="heading">About Me</h1>
    </div>

    <article id="aboutMe" class="row-fluid">
        <div class="container-fluid"> 
            <section class="col-lg-5 col-lg-push-1 col-md-4 col-md-offset-1 col-sm-5"> 
                <%= image_tag("headshot1.jpg", class: "img-responsive center-block", :id => "headshot" )%>
            </section>
            <section class="col-lg-5 col-lg-pull-1 col-md-6 col-sm-6" id="aboutMeText">
                <p>Hello there! My name is Evan R Bogart. I'm a recent DePaul University graduate, where I majored in Interactive and Social Media (ISM for short) with a Development Concentration. Most of my work on this site will be comprised of projects I worked on throughout my 2 &frac12; years at DePaul University. I consider myself a fun-loving coder, and an admirer of design - specifically web/application/software design! Besides coding I enjoy playing video games, watching esports/sports in general, hiking, fishing, and hanging out with friends and family.</p>
                <p>As an ISM major with a Development Concentration, I focused a lot on the front-end. ISM mostly taught me about modern UI/UX design principles and heuristics, which can be very useful to know when evaulating, designing, or developing a site/application. I am very comfortable developing front-end solutions and fully responsive websites using HTML5, CSS3, and JavaScript/jQuery. I have extensive use with Bootstrap, and I'll tend to heavily utilize utility classes to setup a quick and easy grid system.</p> 
                <p>I love Ruby-on-Rails! It's the first MVC framework I learned for web development, and I feel fully confident in coding the front-end for a Ruby-on-Rails web application. I know my way around the Ruby-on-Rails MVC framework, and I'm not scared to utilize the whole spectrum of the framework to correctly implement partials, views, and layouts. Though, when it comes down to it all, I fell in love with this framework because it allows me to work with ".erb" files - my exact initials. &#128516;</p>   
            </section>
        </div>
    </article>

   <article class="container"  id="homepageCards">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title">
                            Contact Me
                        </h4>
                        <div class="contactText">
                            <p>If you have any questions, please feel free to email me!</p>
                            <p><b>Email:</b> erbogart28@gmail.com</p>
                            <p><i>Check out my linkedin</i><a type="button" class="btn btn-block btn-lg btn-linkedin" target="blank_"><i class="fa fa-linkedin"></i></a></p>
                            <p><i>Check out my github</i><a href="https://github.com/erbogart28" type="button" class="btn btn-block btn-lg btn-github" target="blank_"><i class="fa fa-github"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-push-4 col-md-push-4 col-sm-push-4 col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title">
                            View My Resume
                        </h4>
                        <p class="resumeText">
                           My resume can be viewed here. Please feel free to right click the link and save a copy for yourself if you're interested.
                        </p>
                    </div>
                    <div class="card-read-more">
                        <%= link_to " View Resume", image_path("resume.jpg"), :target => "_blank", :class => "btn btn-link btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </article>
 </section>
 
