<section class="landing"><!-- Landing Page -->
    <div class="container" id="animatedtext"><!-- main header on landing page -->
        <div class= "row" id="animatedtext-cols"><!-- main header row -->
            <p id="landing-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&mdash; Web developer &mdash;<span>Hi, I'm Evan! </span> &mdash; UI/UX Designer &mdash;</p>
        </div><!-- END main header row -->
    </div><!-- END main header text container -->
    
    <article class="container-fluid fade-in" id="landingPageRows"><!-- article wrap for Row sections -->
        <section class="row landingRowSection sectionScroll" id="aboutRowLanding">
            <%= link_to "About Me", '#aboutme-content', :class => 'landingRowButton' %>
            <!-- shooting stars / CSS animations used for star movements -->
            <span class="star1"></span>
            <span class="star2"></span>
            <span class="star3"></span>
        </section>
        
        <section class="row landingRowSection fade-in sectionScroll" id="devRowLanding">
            <%= link_to "Dev Work", '#dev-content', :class => 'landingRowButton' %>
        </section>
        
        <section class="row row-flex landingRowSection fade-in sectionScroll" id="designRowLanding"> 
            <%= link_to "UI/UX Work", '#design-content', :class => 'landingRowButton' %>
        </section>
    </article>
    
    <div id="scrolldown-button-row"  class="container" ><!-- Arrow down scroll down button - Scrolls to ABOUT ME section of page -->
        <a class="scroll-down" href="#aboutme-content" address="true">
            <span class="arrow-scroll-btn"></span>
        </a>
    </div><!-- end scroll down container -->
</section><!-- END LANDING page section -->

<section class="container-fluid" id="aboutme-content"><!-- START aboutme section homepage -->
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">About Me</h1>
    </div>
    
    <article class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-lg-push-1 col-md-4 col-md-offset-1 col-sm-5"> 
                <%= image_tag("headshot1.jpg", class: "img-responsive center-block", :id => "headshot" )%>
            </div>
            <div class="col-lg-5 col-lg-pull-1 col-md-6 col-sm-6" id="aboutMeText">
                <p>Hello World! My name is Evan R Bogart. I'm a recent DePaul University graduate, where I majored in Interactive and Social Media w/ a Development Concentration. Most of my work on this site will be comprised of projects I worked on throughout my 2 &frac12; years at DePaul University. I consider myself a fun-loving coder, and an admirer of design - specifically web/application/software design! Besides coding I enjoy playing video games, watching esports/sports in general, hiking, fishing, and hanging out with friends and family.</p>
                <p>As an ISM major with a Development Concentration, I focused a lot on the front-end. ISM taught me a lot about modern UI/UX design principles and heuristics. I've found this to be beyond useful when evaulating, designing, or developing a site or web application. I am very comfortable developing front-end solutions and fully responsive websites using HTML5, CSS3, JavaScript, and jQuery. My current MVC framework of choice is Ruby-on-Rails.</p> 
            </div>
        </div>
    </article><!-- end aboutme article -- content pertaining to me -->
    
    <article id="homepageCards">
        <div class="row">
            <div class="col-md-4 col-sm-8 col-sm-push-2">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"> Contact Me </div>
                        <p>If you'd like to get in contact, please feel free to email me!</p>
                        <p><b>Email:</b> erbogart28@gmail.com</p>
                        <!--<p><i>Check out my linkedin</i><a type="button" class="btn btn-block btn-lg btn-linkedin" target="blank_"><i class="fa fa-linkedin"></i></a></p>-->
                        <p><i>Check out my github</i><a href="https://github.com/erbogart28" type="button" class="btn btn-block btn-lg btn-github" target="blank_"><i class="fa fa-github"></i></a></p>
                    </div><!-- END card content -->
                </div><!--end card -->
            </div><!-- end column div -->
            <div class="col-md-4 col-sm-8 col-sm-push-2">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"> View My Resume</div>
                        <p>My resume can be viewed here. Please feel free to right click the link and save a copy for yourself if you're interested.</p>
                     </div><!-- END card content -->
                    <div class="card-read-more">
                        <%= link_to " View Resume", image_path("resumePortfolioSite.pdf"), :target => "_blank", :class => "btn btn-link btn-block" %>
                    </div><!-- end read more -->
                </div><!--end card -->
            </div><!-- end column div -->
        </div><!--end row -->
    </article> <!-- end homepage cards article within aboutme-content section -->
</section><!-- end aboutme-content section -->
 
<section class="container-fluid"  id="dev-content"><!-- START developer section of homepage -->
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">Dev Work</h1>
    </div>
    
    <article class="container" id="devcards"><!-- Development Cards Container/Article of section dev content -->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 1 | COMP SCI CAPSTONE -->
                    <%= image_tag "depaul-logo.png", :class => 'img-card'%>
                    <div class="card-content">
                        <h4 class="card-title">Computer Science Capstone | When If Project</h4>
                        <p>This was probably my favorite project at DePaul. This was a group project where we were tasked to create a website for student's, faculty, and admin's. The site's purpose was to allow for student's to run a "when-if" report where they could generate a schedule of classes for completing IT or IS grad school classes. Faculty could waive classes and view student's reports. Admin's can view all accounts and have the power to do whatever faculty or student's can do. </p>
                        <p>I was the front-end lead for this project, and was the only one with real experience in web development - all the other's in the group were only familar with Obeject Oriented Programming. Along with creating the front-end layout, I also setup the rails site and created user signup and role permissions using the application model, and user sessions using the application helper. I also had to walk group members through how to render a user's data onto certain pages using Ruby.</p>
                        <p>Overall it was a great experience. I learned a lot from the computer science guys - new approaches to sessions and other things I have not considered - and I feel like they learned a lot of from me as well. </p>
                    </div>
                    <div class="card-read-more"><!-- view site -->
                         <%= link_to "View site", 'http://ec2-54-212-244-135.us-west-2.compute.amazonaws.com:3000/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div> 
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/CS-Capstone-Final" target="_blank" class="btn btn-link btn-block"> 
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 1 -->
            </div><!-- END col placement -->
            
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 2 | Portfolio -->
                    <%= image_tag "headshot1.jpg", :class => 'img-card' %>
                    <div class="card-content">
                        <h4 class="card-title">Portfolio Site</h4>
                        <p class="">I have treated this portfolio site as a project as well. I plan to update this frequently, and hope to eventually utilize the database and models in some sort of way. I've gone through many diferent iterations for this portfolio site - most of this code and process can be seen through my seperation of branches.</p>
                    </div>
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/portfolioBogart" target="blank_" class="btn btn-link btn-block">
                             <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 2 -->
            </div><!-- END col placement -->
            
            <div class="col-xs-12 col-sm-4">
                <div class="card"> <!-- CARD 3 | Sharkos rails -->
                    <%= image_tag "sharkologo3.png", :class => 'img-card', :style => 'padding: 15px' %>
                    <div class="card-content">
                        <h4 class="card-title">Sharko's Updated</a></h4>
                        <p>This was my second attempt at developing Sharko's website. This time around I was far more equipped to create a responsive and clean site. I developed this site using Ruby-on-Rails, and with CSS/Bootstrap to pull the front-end together. I created role based permissions and page views, an ordering system, user sign-ups, and user sessions. Users are able to "order" and add items to their cart. Admin's can edit the menu and see orders placed. </p>
                        <p>Admin Login:</br><b>Username:</b> admin@sharko.com </br> <b>PW:</b> password</p>
                    </div>
                    <div class="card-read-more"> <!-- view site -->
                        <%= link_to "View Site", 'https://sharkos-rails.herokuapp.com/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                    <div class="card-read-more"><!-- github code view -->
                        <a href="https://github.com/erbogart28/sharko-web-dev-2" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 3 -->
            </div><!-- END col placement -->
        </div><!-- END row  1 -->
    
        <div class="row"><!-- START ROW 2 | DEVELOPMENT -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 4 | Greatmoods Work -->
                    <%= image_tag "GMlogo.png", :class => 'img-card', :style => 'padding-left:20px' %>
                    <div class="card-content">
                        <h4 class="card-title">GreatMoods Internship Work </h4>
                        <p> This was an interesting internship to say the least! I learned a lot: how to communicate effecticely and express my opionins on design choices, how to compromise on ideas depedning on what the boss hoped to see, how to best collaborate remotely.</p>
                        <p>I did a LOT of work, and ended up being the lead front-end developer in charge of the site's redevelopment and BitBucket repository. I also led one front-end developer for a period of time, who I gave tasks to and helped when needed. The previous design had zero responsiveness, and it was a large project to take on considering the ~150 page source code.</p>
                        <p> Since I was tasked a lot, I was able to learn a lot. As a result, I have become even more confident developing new elements and responsive pages using CSS, JS, jQuery, and HTML.</p>
                        <p>Feel free to check out the staging site with my code in action!</p>
                    </div>
                    <div class="card-read-more"> <!-- view site -->
                        <%= link_to "Redeveloped Site", 'http://www.training.greatmoods.com/index.php', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                </div><!-- END CARD 4 -->
            </div><!-- END col placement -->
            
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 5 PORTFOLIO SITE -->
                    <%= image_tag "sharkologo3.png", :class => 'img-card', :style => 'padding: 15px' %>
                    <div class="card-content">
                        <h4 class="card-title">Sharko's BBQ - First Site</h4>
                        <p>This was the first website I developed and designed.</p>
                        <p>This site is not responsive. My main goal for development was to create a straight forward site, where users could easily find a menu, location, and contact information.</p>
                    </div>
                    <div class="card-read-more"><!-- github code view / removed site option as the site is not really worth seeing in it's current state, still might put it in here though-->
                        <!--<a href="" target="_blank" class="btn btn-link btn-block">-->
                        <!--    View site-->
                        <!--</a>-->
                        <a href="https://github.com/erbogart28/sharkosPureCSShtml" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div>
                </div><!-- END CARD 5 -->
            </div><!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 6 | Fake news bootstrap -->
                    <%= image_tag 'pragmatic.png', :class => 'img-card' %>
                    <div class="card-content">
                        <h4 class="card-title">Fake News Bootstrap</h4>
                        <p>Utilized Bootstrap for a responsive design.</p> 
                        <p>For this project I focused on utilizing the cards and Bootstrap's responsive grid. This was my final project in the class where I first started learning about Bootstrap. </p>
                    </div>
                    <div class="card-read-more">
                        <%= link_to "View Site", 'https://evanbogart.com/examples/bootstrapFinal/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                    <div class="card-read-more">
                        <a href="https://github.com/erbogart28/fakenewsBootstrap" target="_blank" class="btn btn-link btn-block">
                            <i class="fa fa-github"></i> Source Code
                        </a>
                    </div><!-- end read more -->
                </div><!--  END CARD 6 -->
            </div><!-- END column placement -->
        </div><!-- END DEVELOPMENT ROW 2-->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 1 | COMP SCI CAPSTONE -->
                    <%= image_tag "pragmatic.png", :class => 'img-card'%>
                    <div class="card-content">
                        <h4 class="card-title">Depot Project</h4>
                        <p>This was my first project using Ruby-on-Rails, and my first project where I was tasked with using git! At this point in time I did not even understand the concept of branches, so I setup 3 different repositories for this one project. I've definitely come a long way since then. This really was the project that got me into developing and messing around with Ruby-on-Rails, and eventually led to me wanting to learn other MVC frameworks as well. </p>
                        <p>Side navigation links do not work. The cart and order system are functioning properly. Purchasing an item prompts an ajax built cart, and if purchased the admin can see the orders via controller methods and erb inside the views. I pretty followed along in a book for this project, but it was still a project I was proud of completeing at the time. </p>
                    </div>
                    <div class="card-read-more"><!-- view site -->
                         <%= link_to "View site", 'https://depotredo.herokuapp.com/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div> 
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/depot" target="_blank" class="btn btn-link btn-block"> <i class="fa fa-github"></i> Source Code 1 </a>
                    </div>
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/depotupdate"  class="btn btn-link btn-block" target="_blank"><i class="fa fa-github"></i> Source Code 2</a>
                    </div>
                    <div class="card-read-more"><!-- view Github source code -->
                        <a href="https://github.com/erbogart28/depotfinalstretch"  class="btn btn-link btn-block" target="_blank"><i class="fa fa-github"></i> Source Code 3</a>
                    </div>
                </div><!-- END CARD 1 -->
            </div><!-- END col placement -->
        </div><!-- END row -->
    </article><!-- end DEV cards container / article -->
</section><!--end dev section -->


<section id="design-content" class="container-fluid">
    <div class="page-header container"> <!-- page header | heading class adds font styles -->
        <h1 class="heading">UI/UX Work</h1>
    </div>
    
    <article class="container" id="designCards"><!-- design cards section article / container -->
        <div class="row"><!-- START row 1 | Design Cards -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 4 | Greatmoods Work -->
                    <%= image_tag "GMlogo.png", :class => 'img-card', :style => 'padding-left:20px' %>
                    <div class="card-content">
                        <h4 class="card-title">GreatMoods Internship Work </h4>
                        <p> Before really diving into this internship, I did a lot of research, evaluations, and redesigns in my classes for GreatMoods. There was plenty to critique as this site looked pretty ancient before I started interning there. You can view my redesign ideas, my original site evaluation/analysis, explainations on what I develolped and why, and before and after pictures of the developed site. </p>
                    </div>
                    <div class="card-read-more">
                        <!-- explaination page link. Turbolinks false allows for accordions to properly collapse  - avoids turbolinks from firing twice -->
                        <%= link_to "Evaluation / Redesigns / Redevelopment ", static_pages_greatmoods_path, data: { turbolinks: false }, :class => 'btn btn-link btn-block' %>
                    </div>
                </div><!-- END CARD 4 -->
            </div><!-- END col placement -->
            
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 2 | Firefly -->
                    <%= image_tag "fireflyLogo.png", :class => 'img-card' %>
                    <div class="card-content">
                        <h4 class="card-title">Firefly Prototype</h4>
                        <p class="fireflyAbout"> This was a group project. Our goal was to research and create an application that allows users to join into pick up sports games. Before creating the prototype, we made a <a href="https://docs.google.com/presentation/d/1fd33APLmPYgnBo0cI0U0GJc4l0tJ-PRS2lof48TPnXk/edit?usp=sharing" target="blank_">component library</a> with all of the elements that would be used, and we also created style tiles to allow for a better understanding of the overall design before we started.</p>
                    </div>
                    <div class="card-read-more">
                      <%= link_to "View Prototype", 'https://xd.adobe.com/view/a56c83f0-a8fa-419b-48c0-8a108529b25f/', :class => 'btn btn-link btn-block', :target => 'blank_' %>
                    </div>
                </div><!-- END CARD 2 -->
            </div>  <!-- END col placement -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 3 | Athens Redesign -->
                    <%= image_tag "bulldoghead.png", :class => 'img-card' %>
                    <div class="card-content">
                        <h4 class="card-title">Athens Bulldogs Redesign</h4>
                        <p>This project is from my first web design class around 4 years back - the class that peaked my interest in web design, and eventually web development. This was a group project in which we were assigned to research and redesign the Athens Bulldogs school website.</p> 
                        <p>I had the task of redesigning the desktop and mobile homepage. I did some quick wireframes with general layout ideas (could not locate these unfortunately), and I created multiple iterations with different designs and colors based off my original wireframes.</p>
                        <p>New iterations were altered based off the group feedback and collaboration regarding color schemes, element choices, and content choices. These designs were created with Photoshop; this was before I, nor my group members, knew of prototyping software. Designs were partially interactive by hiding/showing layers, to mimic what a click would look like.</p>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <a href="/#lightbox" data-toggle="modal"  class="btn btn-link btn-block">View Prototype Designs</a>
                    </div>
                    <!-- MODAL / SLIDESHOW LIGHTBOX EFFECT USING BOOTSTRAP ELEMENTS -->
                    <div class="modal fade and carousel slide" id="lightbox">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#close" title="Close" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                    <h4 class="modal-title" id="modal-label">Athens Bulldogs Redesigns</h4>
                                </div> <!--end modal header -->
                                <div class="modal-body">
                                 <ol class="carousel-indicators">
                                    <li id="img1" data-target="#lightbox" data-slide-to="0" class="active"></li>
                                    <li data-target="#lightbox" data-slide-to="1"></li>
                                </ol>
                                    <!-- images -->
                                    <div class="carousel-inner"><!-- slideshow modal images as ITEMS --> 
                                        <div class="item active">
                                            <%= image_tag 'athensDesktopProtos.png', class: 'img-responsive center-block', alt: 'Desktop Redesigns' %>
                                             <!--<div class="carousel-caption" style="color:black"><p>Desktop Prototypes</p></div>-->
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'bulldogsMobile.png', class: 'img-responsive center-block', alt: 'Mobile Redesigns' %>
                                        </div>
                                    </div><!-- end carousel-inner -->
                                    <div class="row">
                                        <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                        <a class="right carousel-control" href="#lightbox" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                                    </div><!-- end CAROUSEL CONTROLS ROW -->
                                </div><!-- END modal-BODY -->
                            </div><!-- END modal CONTENT -->
                        </div><!-- END modal DIALOG -->
                    </div><!-- END modal -->
                </div><!-- END CARD 3 -->
            </div><!-- end column placement -->
        </div><!-- END row 1 -->
        
        <div class="row"><!-- START row 2 | Design cards -->
            <div class="col-xs-12 col-sm-4">
                <div class="card"><!-- CARD 4 | Wingstop App Redeisgn -->
                    <%= image_tag "WingstopLogo.png", :class => 'img-card' %>
                    <div class="card-content">
                        <h4 class="card-title">WingStop App</h4>
                        <h4 style="padding-left:1rem !important">| Ordering Process Redesign</h4>
                        <p>This was a project for redesigning an application's order proccesing screens. I decided to redesign the Wingstop Application. It wasn't a huge design overhaul, but rather heuristic based fixes to improve the checkout process. For my prototypes I used Axure RP.</p>
                        <p>I designed screens based on ordering a wing combo meal, as this meal required a lot of steps and requirements that were at times confusing on the original application. I designed screens that provided feedback which clearly indicated which required constraints needed to be completed through the use of success alert colors/icons, and warning colors/icons. Added page indictators when users had a multi-page process for one meal type.</p>
                        <p>You can read an in-depth analysis on my design decisions and why I changed what I did, or you can simply view the final redesigns below!</p>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <%= link_to 'Research / Evaluations / Objectives', image_path('wingstopDesignExplainations.pdf'), :target => '_blank', :class => 'btn btn-link btn-block' %>
                    </div>
                    <div class="card-read-more"><!-- view redesigns using modal slideshow -->
                        <a href="/#lightbox1" data-toggle="modal"  class="btn btn-link btn-block">View Redesigns</a>
                    </div>
                    <!-- MODAL / SLIDESHOW LIGHTBOX EFFECT USING BOOTSTRAP ELEMENTS -->
                    <div class="modal fade and carousel slide" id="lightbox1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#close" title="Close" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                    <h4 class="modal-title" id="modal-label">Wingstop App | Order Process Redesigns</h4>
                                </div> <!--end modal header -->
                                <div class="modal-body">
                                    <ol class="carousel-indicators">
                                        <li id="img1" data-target="#lightbox1" data-slide-to="0" class="active"></li>
                                        <li data-target="#lightbox1" data-slide-to="1"></li>
                                        <li data-target="#lightbox1" data-slide-to="2"></li>
                                        <li data-target="#lightbox1" data-slide-to="3"></li>
                                        <li data-target="#lightbox1" data-slide-to="4"></li>
                                        <li data-target="#lightbox1" data-slide-to="5"></li>
                                        <li data-target="#lightbox1" data-slide-to="6"></li> 
                                    </ol>
                                    <!-- images -->
                                    <div class="carousel-inner"><!-- slideshow modal images as ITEMS --> 
                                        <div class="item active">
                                            <%= image_tag 'wingstop1.png', class: 'center-block', alt: 'WingStop Order Process Main Menu' %>
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'wingstop2.png', class: "center-block", alt: 'WingStop Order Process Choose Wing Combo Meal' %>
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'wingstop3.png', class: "center-block", alt: 'WingStop Order Process Choose Wing Type' %>
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'wingstop4.png', class: 'center-block', alt: 'WingStop Order Process Wings Quantity' %>
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'wingstop5.png', class: "center-block", alt: 'WingStop Order Process Customize Order' %>
                                        </div>
                                        <div class="item">
                                            <%= image_tag 'wingstop6.png', class: "center-block", alt: 'WingStop Order Process Checkout' %>
                                        </div>          
                                        <div class="item">
                                            <%= image_tag 'wingstop7.png', class: "center-block", alt: 'WingStop Order Process Edit Meal' %>
                                        </div>                                         
                                    </div><!-- end carousel-inner -->
                                    <div class="row">
                                        <a class="left carousel-control" href="#lightbox1" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                        <a class="right carousel-control" href="#lightbox1" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                                    </div><!-- end CAROUSEL CONTROLS ROW 
                                </div><!-- END modal-BODY -->
                            </div><!-- END modal CONTENT -->
                        </div><!-- END modal DIALOG -->
                    </div><!-- END modal -->
                </div><!-- END CARD 4 -->
            </div><!-- END col placement -->
        </div><!-- END ROW 2 -->
    </article><!-- END design cards article / container wrap -->
</section><!--END design section -->

