<%= render 'landing' %><!-- landing page section -->
<%= render 'aboutme' %><!-- about me/contact section -->
<%= render 'sidebar' %><!-- sidebar / visible on all sections besides landing page. Not visible on secodary pages. -->

<div id="fill-in"></div><!--  div fills with rendered UI/UX and/or dev work sections.  -->

<%= link_to '', '/', :class => 'arrow-scroll-up hidden sectionScroll', :id => 'scrollup' %><!--  scroll to top arrow visible throughout all sections besides landing page section  -->
<%= render 'footer' %><!-- renders footer -->
