<h1>Sharko's Wireframe Walkthrough</h1>
 

   <!--<div class="container"  id="wireframeWalk">-->
   <!--             <div class="row">-->
   <!--                 <div class="col-xs-12 col-sm-4">-->
   <!--                     <div class="card">-->
   <!--                         <div class="img-card img-fluid">-->
   <!--                                <%= image_tag "sharkoWire1.JPG" %>-->
   <!--                         </div>-->
   <!--                         <div class="card-content" id="wireCards">-->
   <!--                             <h4 class="card-title">-->
   <!--                                 Wireframe 1-->
   <!--                               </a>-->
   <!--                             </h4>-->
   <!--                             <p class="contactText">-->
   <!--                                 If you have any questions, please feel free to email or call me! <br><br> Phone #: (630)803-7686 <br> Email: erbogart28@gmail.com-->
   <!--                             </p>-->
   <!--                         </div>-->
   <!--                     </div>-->
   <!--                 </div>-->
                    
   <!--                 <div class="col-xs-12 col-sm-4">-->
   <!--                     <div class="card">-->
   <!--                         <div class="img-card">-->
   <!--                                <%= image_tag "sharkoWire1.JPG" %>-->
   <!--                         </div>-->
   <!--                         <div class="card-content" id="wireCards">-->
   <!--                             <h4 class="card-title">-->
   <!--                                 Wireframe 3-->
   <!--                               </a>-->
   <!--                             </h4>-->
   <!--                             <p class="contactText">-->
   <!--                                 If you have any questions, please feel free to email or call me! <br><br> Phone #: (630)803-7686 <br> Email: erbogart28@gmail.com-->
   <!--                             </p>-->
   <!--                         </div>-->
   <!--                     </div>-->
   <!--                 </div>-->
                    
   <!--                 <div class="col-xs-12 col-sm-4">-->
   <!--                     <div class="card">-->
   <!--                         <div class="img-card">-->
   <!--                                <%= image_tag "sharkoWire1.JPG" %>-->
   <!--                         </div>-->
   <!--                         <div class="card-content" id="wireCards">-->
   <!--                             <h4 class="card-title">-->
   <!--                                 Wireframe 3-->
   <!--                               </a>-->
   <!--                             </h4>-->
   <!--                             <p class="contactText">-->
   <!--                                 If you have any questions, please feel free to email or call me! <br><br> Phone #: (630)803-7686 <br> Email: erbogart28@gmail.com-->
   <!--                             </p>-->
   <!--                         </div>-->
   <!--                     </div>-->
   <!--                 </div>-->




   <!--             <div class="row">-->
   <!--                 <div class="col-lg-push-2 col-xs-12 col-sm-4">-->
   <!--                     <div class="card">-->
   <!--                         <div class="img-card">-->
   <!--                                <%= image_tag "sharkoWire1.JPG" %>-->
   <!--                       </div>-->
   <!--                         <div class="card-content" id="wireCards">-->
   <!--                             <h4 class="card-title">-->
   <!--                                 Wireframe 4-->
   <!--                               </a>-->
   <!--                             </h4>-->
   <!--                             <p class="contactText">-->
   <!--                                 If you have any questions, please feel free to email or call me! <br><br> Phone #: (630)803-7686 <br> Email: erbogart28@gmail.com-->
   <!--                             </p>-->
   <!--                         </div>-->
   <!--                     </div>-->
   <!--                 </div>-->
                    
   <!--                 <div class="col-lg-push-2 col-xs-12 col-sm-4">-->
   <!--                     <div class="card">-->
   <!--                         <div class="img-card" style="object-fit:">-->
   <!--                                <%= image_tag "sharkoWire1.JPG"%>-->
   <!--                         </div>-->
   <!--                         <div class="card-content" id="wireCards">-->
   <!--                             <h4 class="card-title">-->
   <!--                                 Wireframe 5-->
   <!--                               </a>-->
   <!--                             </h4>-->
   <!--                             <p class="contactText">-->
   <!--                                 If you have any questions, please feel free to email or call me! <br><br> Phone #: (630)803-7686 <br> Email: erbogart28@gmail.com-->
   <!--                             </p>-->
   <!--                         </div>-->
   <!--                     </div>-->
   <!--                 </div>-->
                    

       <section style="padding: 6em 0em;">
    <div class="container">
        <div class="row">
            <hr>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card accordion-panel">
                    <div class="card-block accordion-heading" role="tab" id="headingOne">
                      <h3 class="card-title accordion-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Wireframe #1
                        </a>
                      </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="accordion-content">
                            <div class="divider"></div>
                            <div id="wireframePics"> <%= image_tag("sharkoWire1.JPG", class: "img-responsive")%></div>
                            <p class="lead">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card accordion-panel">
                    <div class="card-block accordion-heading" role="tab" id="headingTwo">
                      <h3 class="card-title accordion-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Wireframe #2
                        </a>
                      </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="accordion-content">
                            <div class="divider"></div>
                            <div id="wireframePics"> <%= image_tag("sharkoWire1.JPG", class: "img-responsive")%></div>
                            <p class="lead">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                    </div>
                </div>
                 <div class="card accordion-panel">
                    <div class="card-block accordion-heading" role="tab" id="headingThree">
                      <h3 class="card-title accordion-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Wireframe #3
                        </a>
                      </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="accordion-content">
                            <div class="divider"></div>
                            <div id="wireframePics"> <%= image_tag("sharkoWire1.JPG", class: "img-responsive")%></div>
                            <p class="lead">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card accordion-panel">
                    <div class="card-block accordion-heading" role="tab" id="headingFour">
                      <h3 class="card-title accordion-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Wireframe #4
                        </a>
                      </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="accordion-content">
                            <div class="divider"></div>
                            <div id="wireframePics"> <%= image_tag("sharkoWire1.JPG", class: "img-responsive")%></div>
                            <p class="lead">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card accordion-panel">
                    <div class="card-block accordion-heading" role="tab" id="headingFive">
                      <h3 class="card-title accordion-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Wireframe #5
                        </a>
                      </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="accordion-content">
                            <div class="divider"></div>
                            <div id="wireframePics"> <%= image_tag("sharkoWire1.JPG", class: "img-responsive")%></div>
                            <p class="lead">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>

