<!DOCTYPE html>
<html>
  <head>
    <title>.ERB Portfolio</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'pray_favi.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <script>//back page where user last left off
    function backPage() {
      window.history.back();
    }
  </script>
  
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
  </style>
</head>

<body>
<%= yield %>
<%= render 'footer' %>
<!-- required jquery/JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
