<!DOCTYPE html>
<html>
  <head>
    <title>.ERB Portfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= favicon_link_tag 'pray_favi.ico' %>
 
<script>
  $(document).on("turbolinks:load", function() {
 // remove down arrow if window is scrolled down -- visible if 0 scroll / page is freshly loaded  
    $(function () {
      var w = $(window);
      w.scroll(function () {
        if (w.scrollTop() !== 0) {
          $(".scroll-down").removeClass("visible");
        return;
          }
          $(".scroll-down").addClass("visible"), 
          $(".scroll-down").css('opacity', '1');
        });
        $(".scroll-down").addClass("visible");
    });
    // add sidebar 200px down from the top of page. Prevents sidebar on load, and prevents sidebar being shown for a tiny scroll 
    $(function () {
      var w = $(window);
      w.scroll(function () {
        if (w.scrollTop() > 200) {
          $("#rightbar").removeClass("hidden");
        return;
          }
          $("#rightbar").addClass("hidden");
        });
        $("#rightbar").addClass("hidden");
    });
    
    $(function() {
      $('.scroll-down').on('click', function() {
        $('html, body').animate({scrollTop: $('#aboutme-content').offset().top }, 'slow');
          return false;
        });
    }); // scroll down to about me - arrow indicator on landing page
    
    $(function() {
      $('.scroll-button').on('click', function() {
        $('html, body').animate({scrollTop: $('#aboutme-content').offset().top }, 'slow');
        return false;
      });
    }); // scroll down to about me section, sidebar and row buttons 
    
    $(function() {
      $('.scroll-button2').on('click', function() {
        $('html, body').animate({scrollTop: $('#design-content').offset().top }, 'slow');
        return false;
      });
    }); //scroll down to design section, sidebar and row buttons 

    $(function() {
      $('.scroll-button3').on('click', function() {
        $('html, body').animate({scrollTop: $('#dev-content').offset().top }, 'slow');
        return false;
      });
    });  // scroll down to dev section, sidebar and row buttons 
    
    $(function (){
      $('[data-toggle="tooltip"]').tooltip()  //toggle tooltip
    }); 
  }); //end .on turobolinks load
</script>
</head>

<body>
<%= render 'sidebar' %>
<%= yield %>
<%= render 'footer' %>
<!-- required jquery/JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->
<!--  script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>