<!DOCTYPE html>
<html>
  <head>
    <title>.ERB Portfolio</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'pray_favi.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
<script>
  $(document).on("turbolinks:load", function() {
 // remove down arrow if window is scrolled down -- visible if 0 scroll / page is freshly loaded  
    $(function () {
      var w = $(window);
      w.scroll(function () {
        if (w.scrollTop() !== 0) {
          $(".scroll-down").removeClass("visible"); // allows for scroll down to become hidden and transition out of view
          return;
        }
        $(".scroll-down").addClass("visible"), // will add visible if scrolled back to top
        $(".scroll-down").css('opacity', '.8');
      });
      $(".scroll-down").addClass("visible");  // line repeated here for initial landing page visibility
    });
    
    // add sidebar 200px down from the top of page. Prevents sidebar on load, and prevents sidebar being shown for a tiny scroll 
    $(function () {
      var w = $(window);
      w.scroll(function () {
        if (w.scrollTop() > 200) {
          $("#sidebar").removeClass("hidden");
          return;
        }
        $("#sidebar").addClass("hidden");
      });
      $("#sidebar").addClass("hidden");
    });
    
  //toggle tooltip on hover. Destroy tool tip on mobile screen sizes - allows for single click on mobile screen widths - as opposed to simply hiding w/ css
    $(function (){
      if ( $(window).width() < 760 ){
        $('li').tooltip('destroy');
      }else {
          $('[data-toggle="tooltip"]').tooltip({trigger:'hover'}); 
      }
    });

    // smooth scrolling to sections 
    $(function() {
		  $('.sectionScroll a[href*="#"]:not([href="#"])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html, body').animate({
				  scrollTop: target.offset().top
				}, 1000);
				return false;
			  }
			}
		  });
		});
    
    $(".sectionScroll").on("activate.bs.scrollspy", function(){
        var currentItem = $(".nav li.active > a").text();
        $('#label span').empty().html(currentItem);
    })
  });    
</script>
</head>

<body class="scroll-area" data-spy="scroll" data-target="#sidebar">
<%= render 'sidebar' %>
<%= yield %>
<%= render 'footer' %>
<!-- required jquery/JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>