<!DOCTYPE html>
<html>
  <head>
    <title>.ERB Portfolio</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'pray_favi.ico' %>
    <meta name = "author" content = "[Evan Bogart]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
<script>
$(document).on("turbolinks:load", function() {
 // remove down arrow / scrolldown button if window is scrolled down from the top of page -- only visible if 0 scroll 
    $(function showHideScrollArrow() {
      var w = $(window);
      w.scroll(function () {
        if (w.scrollTop() !== 0) {
          $('.scroll-down').removeClass('visible'); // scroll down becomes hidden, and begins animation out of view, below about me section 
          return;
        }
        $('.scroll-down').addClass('visible'), // will add visible if user SCROLLS BACK TO TOP after a page load | Without this - will not be visible again if scrolled from top
        $('.scroll-down').css('opacity', '1');
      });
      $('.scroll-down').addClass('visible');  // line repeated here for INITIAL PAGE LOAD for landing page | Without this - will not load as a visibile; also, allows for animation on page load without adding visible to scrolldown class
    });//end showHideScrollArrow
    
    // add sidebar when user is outside of landing page section
    $(function showSideBar() {
      var sidebar = $('#sidebar');
      var landingpage_end  = $('.landing').offset().top +$('.landing').height()-28; //meausre height of landing page -- red next line for -25 reasoning
      //landingpage_end equation is giving correct screen height results, BUT would sometimes show sidebar too far down in aboutme section (maybe due to scrolldown below landing section - having a hidden height to landing page ?). Added -25 for some cushion, and all mobile screen sizes show the sidebar fine now.
        $(window).scroll(function() {  //pixels from top
          var scroll2 = $(window).scrollTop();
          if (scroll2 <=  landingpage_end ) {
              sidebar.addClass('hidden') //hide sidebar if scroll position is within landing page
               $('#scrollup').addClass('hidden');

          } else {
              sidebar.removeClass('hidden'), //show sidebar once scrolled outside of landing page section completely
                $('#scrollup').removeClass('hidden'),
              $('a.landingRowButton').blur(); //ADDED TO REMOVE green FOCUS when LANDINGROWBUTTON link is CLICKED, so if users travel back to top now row text is focused on
            }
        });
    });//end show sidebar
    
    //toggle tooltip on hover. Destroy tool tip on mobile screen sizes - allows for single click on mobile screen widths - as opposed to simply hiding w/ css
    $(function (){
      if ( $(window).width() < 760 ){
        $('li').tooltip('destroy'); //remove toolbars from sidebar to avoid complications with touch screen users.
      }else {
          $('[data-toggle="tooltip"]').tooltip({trigger:'hover'}); // basic hover for toolbar
      }
    });

    // smooth scrolling to sections // adds ACTIVE class to sidebar depending on sections
    $(function smoothScroll() {
		  $('.sectionScroll a[href*="#"]:not([href="#"])').click(function() {  //only section scroll links. NO empty links
		  
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {  // On-page links
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html, body').animate({
				  scrollTop: target.offset().top //animate to target section and stop once section top is at 0
				}, 1000);
				return false;
			  }
			}
		  });
		});// end smoothScroll function
		$('#fill-in').html("<%= escape_javascript(render :partial => 'devWork') %>").append("<%= escape_javascript(render :partial => 'design') %>") && $('#design-filter').toggleClass('hidden'); //Load both partials - allows for proper filtering
});   // end turbolinks on load  
// function for filter button click
function fillboth() {
    $('#fill-in').html("<%= escape_javascript(render :partial => 'devWork') %>").append("<%= escape_javascript(render :partial => 'design') %>") && $('#design-filter').toggleClass('hidden');
} 
</script>
<body class="scroll-area" data-spy="scroll" data-target="#sidebar">
<%= yield %>
<!-- required jquery/JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>